@define-color selected-text #BD4924;
@define-color text #e7aa5a;
@define-color base #1C0E00; 
@define-color border #A89984DE;
@define-color foreground #DF782D;
@define-color background #1C0E00;

#box {
  border-radius: 24px;
  /* border: 1px solid lighter(@border); */ 
  border-width: 3px;
  overflow: hidden;
}

#search, .box-wrapper, #search, window, #outer-box {
  border-radius: 24px;
  border-width: 3px;
}
